<template>
  <div>
    <h1>{{ $route.params.county }}</h1>
    <landmark
      class="m-landmark"
      v-for="(landmark, index) in landmarks"
      :details="landmark"
      :index="index"
      :key="landmark.markernum"
    ></landmark>
  </div>
</template>

<script>
import api from '@/api';
import Landmark from '@/components/Landmark';

export default {
  name: 'County',
  mounted() {
    api.getMarkersInCounty(this.$route.params.county)
    .then((response) => {
      if (typeof response.data.error !== 'undefined') throw new Error();

      this.landmarks = response.data;
    })
    .catch(() => {
    });
  },
  components: {
    landmark: Landmark,
  },
  props: ['county'],
  data() {
    return {
      landmarks: {},
    };
  },
  methods: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
