<template>
  <div>
    <h1 class="greeting">{{ msg }}</h1>
    <ul class="m-Counties_Grid">
      <li
        v-for="(county, index) in counties"
        class="m-County"
        :index="index"
        :key="county.county"
      >
        <router-link
          :to="{name: 'County', params: { county: county.county }}"
        >{{ county.county }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import api from '@/api';
import County from '@/components/County';

export default {
  name: 'Counties',
  mounted() {
    api.getAllCounties()
    .then((response) => {
      this.counties = response.data;
      // console.log(this.counties);
    });
  },
  data() {
    return {
      msg: 'Search by County',
      counties: {},
    };
  },
  components: {
    county: County,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.m-Counties_Grid {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-gap: 1em;
}
</style>
