<template>
  <div>
    <h1 class="title">
      <router-link
        :to="{name: 'Landmark', params: { id: details.markernum }}"
      >{{ details.title }}</router-link>
    </h1>
    <p>{{ details.markertext }}</p>
  </div>
</template>

<script>
import api from '@/api';

export default {
  name: 'Landmark',
  mounted() {
    if (typeof this.$route.params.id === 'undefined') return;

    api.getLandmarkById(this.$route.params.id)
    .then((response) => {
      this.details = response.data;
    });
  },
  props: ['details'],
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
