<template>
  <div>
    <h1 class="greeting">{{ msg }}</h1>
    <router-link :to="{name:'Counties'}">Counties</router-link>
    <div class="m-landmarks_Grid">
      <landmark
        class="m-landmark"
        v-for="(landmark, index) in landmarks"
        :details="landmark"
        :index="index"
        :key="landmark.markernum"
      ></landmark>
    </div>
  </div>
</template>

<script>
import api from '@/api';
import Landmark from '@/components/Landmark';

export default {
  name: 'Main',
  mounted() {
    api.getAllLandmarks()
    .then((response) => {
      this.landmarks = response.data;
    });
  },
  data() {
    return {
      msg: 'One Mile Ahead',
      landmarks: {},
    };
  },
  components: {
    landmark: Landmark,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.m-landmarks_Grid {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-gap: 1em;
}
</style>
